<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
</head>

<body>

    <div th:fragment="book">
        <div class="d-flex flex-row" th:id="book_ + ${book.id}">
            <!-- Book link -->
            <a class="item flex-fill" th:classappend="${currentBookId == book.id} ? active : ''" th:text="${book.title}"
                th:href="@{|/diary/${book.id}|}"></a>
            <!-- Book dropdown menu -->
            <div class="dropdown">
                <a class="item dropdown-toggle" id="bookDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"></a>
                <ul class="dropdown-menu" aria-labelledby="bookDropdownMenuLink">
                    <li><a type="button" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#updateBookDialogModal" th:data-bs-title="${book.title}"
                            th:data-bs-url="@{|/api/v1/diary/${book.id}|}">Update</a></li>
                    <li><a type="button" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#deleteBookDialogModal" th:data-bs-title="${book.title}"
                            th:data-bs-url="@{|/api/v1/diary/${book.id}|}">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="create_book_link">
        <a class="item text-center" role="button" data-bs-toggle="modal" data-bs-target="#createBookDialogModal">
            <h5><i class="bi bi-plus-square"></i></h5>
        </a>
    </div>

    <div th:fragment="create_book_dialog">
        <!-- Modal -->
        <div class="modal fade" id="createBookDialogModal" tabindex="-1" aria-labelledby="createBookDialogModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="createBookDialogModalLabel">Enter information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <form id="createBookForm" th:action="@{/api/v1/diary}" method="POST">
                            <div class="mb-3">
                                <label class="col-form-label" for="title">Title:</label>
                                <input type="text" class="form-control" id="titleInput" name="title" required>
                            </div>
                        </form>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" form="createBookForm">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="update_book_dialog">
        <!-- Modal -->
        <div class="modal fade" id="updateBookDialogModal" tabindex="-1" aria-labelledby="updateBookDialogModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateBookDialogModalLabel">Enter new information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <form id="updateBookForm" method="PUT">
                            <div class="mb-3">
                                <label class="col-form-label" for="title">Title:</label>
                                <input type="text" class="form-control" id="titleInput" name="title" required>
                            </div>
                        </form>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" form="updateBookForm">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="delete_book_dialog">
        <!-- Modal -->
        <div class="modal fade" id="deleteBookDialogModal" tabindex="-1" aria-labelledby="deleteBookDialogModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteBookDialogModalLabel">Are you sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <form id="deleteBookForm" method="DELETE">
                            <div id="deleteBookMessage"></div>
                        </form>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" form="deleteBookForm">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="records">
        <div th:each="record : ${records}" class="card mt-4" th:id="record_ + ${record.id}">
            <div class="card-header">
                <div class="timestamp" th:text="${#dates.formatISO(record.createdAt)}"></div>
            </div>
            <div class="card-body">
                <div class="card-text" style="white-space: pre-wrap;" th:utext="${record.text}"></div>
            </div>
            <div class="card-footer text-muted d-flex">
                <small th:if="${record.createdAt != record.updatedAt}">
                    Last edited
                    <span class="timestamp" th:text="${#dates.formatISO(record.updatedAt)}"></span>
                </small>
                <div class="d-flex ms-auto">
                    <!-- Record dropdown menu -->
                    <div class="dropdown ms-2">
                        <button type="button" class="dropdown-toggle btn btn-light rounded-circle p-0"
                            id="recordDropdownMenuLink" style="width:30px; height:30px;" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="recordDropdownMenuLink">
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#updateRecordDialogModal" th:data-bs-text="${record.text}"
                                    th:data-bs-url="@{|/api/v1/diary/record/${record.id}|}">Update</a></li>
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#deleteRecordDialogModal" th:data-bs-text="${record.text}"
                                    th:data-bs-url="@{|/api/v1/diary/record/${record.id}|}">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="load_records_button">
        <form th:if="${nextPageUrl != null}" id="loadRecordsForm" th:action="${nextPageUrl}" method="GET">
            <button type="submit" class="btn btn-primary btn-sm">Load More</button>
        </form>
    </div>

    <div th:fragment="create_record_editor">
        <div class="card">
            <div class="card-body">
                <form class="d-flex flex-column" id="createRecordForm"
                    th:action="@{|/api/v1/diary/${currentBookId}/record|}" method="POST">
                    <div class="mb-1">
                        <textarea class="w-100" name="text" placeholder="Say something..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm ms-auto">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div th:fragment="update_record_dialog">
        <!-- Modal -->
        <div class="modal fade" id="updateRecordDialogModal" tabindex="-1"
            aria-labelledby="updateRecordDialogModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateRecordDialogModalLabel">Enter new information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <form id="updateRecordForm" method="PUT">
                            <div class="mb-3">
                                <textarea class="w-100" style="height: 200px;" name="text"
                                    placeholder="Say something..."></textarea>
                            </div>
                        </form>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" form="updateRecordForm">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="delete_record_dialog">
        <!-- Modal -->
        <div class="modal fade" id="deleteRecordDialogModal" tabindex="-1"
            aria-labelledby="deleteRecordDialogModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteRecordDialogModalLabel">Are you sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <form id="deleteRecordForm" method="DELETE">
                            <span class="d-inline-block text-truncate align-bottom" style="max-width: 50%;">
                                <strong id="deleteRecordMessage">${text}</strong>
                            </span>
                            will be deleted.
                        </form>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" form="deleteRecordForm">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="scripts">
        <script th:inline="javascript">
            const DIARY_URL = /*[[@{/diary}]]*/ undefined;
            const DIARY_BOOK_FRAGMENT_URL = /*[[@{/diary/fragments/book(currentBookId=${currentBookId})}]]*/ undefined;
            const DIARY_RECORDS_FRAGMENT_URL = /*[[@{/diary/fragments/records}]]*/ undefined;
            let currentBookId = /*[[${currentBookId}]]*/ undefined;
        </script>
        <script th:src="@{/js/fragments/diary.js}"></script>
    </div>

</body>

</html>