<!DOCTYPE html>
<html lang="en">
<head><title></title></head>
<body>

    <div th:fragment="book">
        <div class="d-flex flex-row">
            <!-- book link -->
            <a
                class="item flex-fill"
                th:classappend="${bookId == book.id} ? active : ''"
                th:text="${book.title}"
                th:href="@{/diary/} + ${book.id}"></a>
            <!-- dropdown options -->
            <div class="dropdown">
                <a
                    class="item dropdown-toggle"
                    role="button"
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Update</a></li>
                    <li><a
                            class="dropdown-item"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteDiaryDialogModal"
                            th:data-bs-title="${book.title}"
                            th:data-bs-url="@{/diary/delete/} + ${book.id}">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="record">
        <div class="record" th:text="${record.text}"></div>
    </div>

    <div th:fragment="delete_diary_dialog">
        <!-- Modal -->
        <div
            class="modal fade"
            id="deleteDiaryDialogModal"
            tabindex="-1"
            aria-labelledby="deleteDiaryDialogModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteDiaryDialogModalLabel">Are you sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <form id="deleteDiaryForm" method="post">
                            <div id="deleteDiaryMessage"></div>
                        </form>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-danger" type="submit" form="deleteDiaryForm">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="delete_diary_dialog_script">
        <script  type="text/javascript">
            var deleteDiaryDialogModal = document.getElementById('deleteDiaryDialogModal')
            deleteDiaryDialogModal.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-bs-* attributes
                var title = button.getAttribute('data-bs-title')
                var url = button.getAttribute('data-bs-url')
                // If necessary, you could initiate an AJAX request here
                // and then do the updating in a callback.
                //
                // Update the modal's content.
                var deleteDiaryForm = deleteDiaryDialogModal.querySelector('#deleteDiaryForm')
                var deleteDiaryMessage = deleteDiaryDialogModal.querySelector('#deleteDiaryMessage')

                deleteDiaryForm.setAttribute('action', url)
                deleteDiaryMessage.innerHTML = '<b>' + title + '</b> will be deleted.'
            })
        </script>
    </div>

</body>
</html>