<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
</head>

<body>

    <div th:fragment="records">
        <div th:each="record : ${records}" class="card mt-4" th:id="record_ + ${record.id}">
            <div class="card-header">
                <!-- Created at -->
                <div class="timestamp" th:text="${#dates.formatISO(record.createdAt)}"></div>
            </div>
            <div class="card-body">
                <!-- Record text -->
                <div class="card-text" style="white-space: pre-wrap;" th:utext="${record.text}"></div>
            </div>
            <div class="card-footer d-flex">
                <div>
                    <!-- Updated at -->
                    <small class="text-muted" th:if="${record.createdAt != record.updatedAt}">
                        Last edited
                        <span class="timestamp" th:text="${#dates.formatISO(record.updatedAt)}"></span>
                    </small>
                    <div>
                        <!-- Tag badges -->
                        <span id="tagBadges">
                            <span class="badge rounded-pill bg-info text-dark me-1" th:each="tag : ${record.tags}"
                                th:id="tagBadge_ + ${tag.id}" th:text="${tag.name}"></span>
                        </span>
                    </div>
                </div>
                <div class="d-flex ms-auto">
                    <!-- Tag dropdown menu -->
                    <button type="button" class="btn btn-light rounded-circle p-0" style="width:30px; height:30px;"
                        data-bs-toggle="modal" data-bs-target="#tagDialogModal">
                        <i class="bi bi-tags"></i>
                    </button>
                    <!-- Record dropdown menu -->
                    <div class="dropdown ms-2">
                        <button type="button" class="dropdown-toggle btn btn-light rounded-circle p-0"
                            id="recordDropdownMenuLink" style="width:30px; height:30px;" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="recordDropdownMenuLink">
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#updateRecordDialogModal" th:data-bs-text="${record.text}"
                                    th:data-bs-url="@{|/api/v1/diary/record/${record.id}|}">Update</a></li>
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#deleteRecordDialogModal" th:data-bs-text="${record.text}"
                                    th:data-bs-url="@{|/api/v1/diary/record/${record.id}|}">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="load_records_button">
        <form th:if="${nextPageUrl != null}" id="loadRecordsForm" th:action="${nextPageUrl}" method="GET">
            <button type="submit" class="btn btn-primary btn-sm">Load More</button>
        </form>
    </div>

    <div th:fragment="create_record_editor">
        <div class="card">
            <div class="card-body">
                <form class="d-flex flex-column" id="createRecordForm"
                    th:action="@{|/api/v1/diary/${currentBookId}/record|}" method="POST">
                    <div class="mb-1">
                        <textarea class="w-100" name="text" placeholder="Say something..." required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm ms-auto">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div th:fragment="update_record_dialog">
        <!-- Modal -->
        <div class="modal fade" id="updateRecordDialogModal" tabindex="-1"
            aria-labelledby="updateRecordDialogModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateRecordDialogModalLabel">Enter new information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <form id="updateRecordForm" method="PUT">
                            <div class="mb-3">
                                <textarea class="w-100" style="height: 200px;" name="text"
                                    placeholder="Say something..." required></textarea>
                            </div>
                        </form>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" form="updateRecordForm">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="delete_record_dialog">
        <!-- Modal -->
        <div class="modal fade" id="deleteRecordDialogModal" tabindex="-1"
            aria-labelledby="deleteRecordDialogModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteRecordDialogModalLabel">Are you sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <form id="deleteRecordForm" method="DELETE">
                            <span class="d-inline-block text-truncate align-bottom" style="max-width: 50%;">
                                <strong id="deleteRecordText"></strong>
                            </span>
                            will be deleted.
                        </form>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" form="deleteRecordForm">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="scripts">
        <script th:inline="javascript">
            const RECORDS_FRAGMENT_URL = /*[[@{/diary/fragments/records}]]*/ undefined;
        </script>
        <script th:src="@{/js/fragments/record.js}"></script>
    </div>

</body>

</html>