<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
</head>

<body>

    <div th:fragment="tag_dialog">
        <!-- Modal -->
        <div class="modal fade" id="tagDialogModal" tabindex="-1" aria-labelledby="tagDialogModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="tagDialogModalLabel">
                            <span id="selectTagLabel">Select tag</span>
                            <span id="deleteTagLabel" style="display:none;">Delete tag</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <!-- Tag buttons -->
                        <span id="tagButtons" th:include="fragments/tag::tags"></span>
                        <!-- Create tag button group -->
                        <span id="createTagButtonGroup">
                            <!-- Button for toggling create tag form -->
                            <button class="btn btn-light rounded-pill py-0 mb-1" id="createTagFormToggleButton">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                            <!-- Create tag form -->
                            <form class="d-inline-flex d-none" id="createTagForm" style="max-width:200px; height:25px;"
                                th:action="@{/api/v1/tag}" method="POST">
                                <input type="text" class="form-control" name="name"
                                    style="border-radius: 50px 0px 0px 50px;" required>
                                <button type="submit" class="btn btn-outline-success py-0"
                                    style="border-radius: 0px 50px 50px 0px;">
                                    <i class="bi bi-check"></i>
                                </button>
                            </form>
                        </span>
                    </div>
                    <!-- Footer -->
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" id="tagCancelActionButton" style="display:none;">
                            Cancel
                        </button>
                        <div id="tagActionButtons">
                            <button type="button" class="btn btn-danger btn-sm" id="deleteTagButton">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="tags">
        <button th:each="tag : ${tags}" class="btn btn-info rounded-pill text-truncate py-0 ms-1 mb-1"
            th:id="tag_ + ${tag.id}" th:text="${tag.name}" th:title="${tag.name}" style="max-width: 100%;"></button>
    </div>

    <div th:fragment="scripts">
        <script th:inline="javascript">
            const TAGS_FRAGMENT_URL = /*[[@{/diary/fragments/tags}]]*/ undefined;
        </script>
        <script th:src="@{/js/fragments/tag.js}"></script>
    </div>

</body>

</html>