/* The side navigation menu */
.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar items */
.sidebar .item {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar .text-item {
    display: block;
    color: grey;
    padding: 16px;
    text-decoration: none;
}

/* Active/current item */
.sidebar .item.active {
    background-color: #0d6efd;
    color: white;
}

/* Items on mouse-over */
.sidebar .item:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
    margin-left: 200px;
    height: 100%;
}

.record-container {
    min-width: 300px;
    max-width: 600px;
}

/* Hide caret icon of bootstrap dropdown */
#recordDropdownMenuLink::after {
    display: none;
}

.inactive-tag {
    opacity: 0.5;
}