/* The side navigation menu */
.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar items */
.sidebar .item {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar .text-item {
    display: block;
    color: grey;
    padding: 16px;
    text-decoration: none;
}

/* Active/current item */
.sidebar .item.active {
    background-color: #04AA6D;
    color: white;
}

/* Items on mouse-over */
.sidebar .item:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
    margin-left: 200px;
    padding: 1px 16px;
}

.record-container {
    min-width: 200px;
    max-width: 600px;
}

.record {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    margin-top: 20px;
}

.record:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}