<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/global::header"></div>
    <link th:href="@{/css/diary.css}" rel="stylesheet" />
    <title>Diary Demo</title>
</head>

<body>

    <!-- The sidebar -->
    <nav class="sidebar d-flex flex-column">
        <!-- Book links -->
        <div id="bookLinks">
            <div th:each="book : ${books}" th:include="fragments/diary::book"></div>
        </div>
        <!-- Create book link -->
        <div th:include="fragments/diary::create_book_link"></div>
        <!-- User related links -->
        <div class="flex-fill"></div>
        <span class="text-item" th:text="${user.username}"></span>
        <a class="item" th:href="@{/logout}">Logout</a>
    </nav>

    <!-- Page content -->
    <div class="content d-flex flex-column">
        <div class="container record-container mt-3 mb-auto">
            <!-- If haven't created any book -->
            <div th:if="${books.isEmpty()}">Please create a diary book.</div>
            <div th:unless="${books.isEmpty()}">
                <!-- Create record editor -->
                <div th:include="fragments/diary::create_record_editor"></div>
                <!-- Records -->
                <div id="records" th:include="fragments/diary::records"></div>
                <!-- Load records button -->
                <div class="d-flex justify-content-center my-3" th:include="fragments/diary::load_records_button"></div>
            </div>
        </div>

        <footer th:include="fragments/global::footer"></footer>
    </div>

    <!-- Fragments -->
    <div>
        <div th:replace="fragments/global::toast"></div>
        <div th:replace="fragments/global::backToTopButton"></div>
        <div th:replace="fragments/diary::create_book_dialog"></div>
        <div th:replace="fragments/diary::update_book_dialog"></div>
        <div th:replace="fragments/diary::delete_book_dialog"></div>
        <div th:replace="fragments/diary::update_record_dialog"></div>
        <div th:replace="fragments/diary::delete_record_dialog"></div>
    </div>

    <!-- Scripts -->
    <div>
        <div th:replace="fragments/global::external_scripts"></div>
        <div th:replace="fragments/global::scripts"></div>
        <div th:replace="fragments/diary::scripts"></div>
    </div>

</body>

</html>