<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/global::header"></div>
    <link th:href="@{/css/diary.css}" rel="stylesheet"/>
    <title>Diary Demo</title>
</head>
<body>

    <!-- The sidebar -->
    <nav class="sidebar d-flex flex-column">
        <!-- Book links -->
        <div id="bookLinks">
            <div th:each="book : ${books}" th:include="fragments/diary::book"></div>
        </div>
        <!-- Create book link -->
        <div th:include="fragments/diary::create_book_link"></div>
        <!-- User related links -->
        <div class="flex-fill"></div>
        <span class="text-item" th:text="${user.username}"></span>
        <a class="item" th:href="@{/logout}">Logout</a>
    </nav>

    <!-- Page content -->
    <div class="content">
        <div class="record-container d-flex flex-column align-items-center mb-3">
            <!-- If haven't created any book -->
            <div th:if="${books.isEmpty()}">Please create a diary book.</div>
            <!-- Records -->
            <div class="align-self-stretch mb-3" id="records" th:include="fragments/diary::records"></div>
            <div th:include="fragments/diary::load_records_button"></div>
        </div>

    </div>

    <div th:replace="fragments/global::toast"></div>
    <div th:replace="fragments/diary::create_book_dialog"></div>
    <div th:replace="fragments/diary::update_book_dialog"></div>
    <div th:replace="fragments/diary::delete_book_dialog"></div>

    <div th:replace="fragments/global::external_scripts"></div>
    <div th:replace="fragments/global::scripts"></div>
    <div th:replace="fragments/diary::scripts"></div>

</body>
</html>
