<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/global::header"></div>
    <title th:text="${title} ? ${title} : 'Error'"></title>
</head>

<body class="d-flex flex-column">

    <div class="d-flex justify-content-center my-auto">
        <div class="text-center">
            <h1 th:text="${code}"></h1>
            <p><strong th:utext="${message} ? ${message} : 'Something went wrong'"></strong></p>
            <a th:href="@{/}">Back to Home Page</a>
        </div>
    </div>

    <footer th:include="fragments/global::footer"></footer>

    <div th:replace="fragments/global::external_scripts"></div>

</body>

</html>