<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/global::header"></div>
    <title>Login | Diary Demo</title>
</head>

<body class="d-flex flex-column">

    <div class="d-flex justify-content-center my-auto">
        <div class="card p-3">
            <h3>Please Login</h3>

            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username and password.
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>

            <form  class="my-3" th:action="@{/login}" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>

            <a th:href="@{/register}">Register</a>
        </div>
    </div>

    <footer th:include="fragments/global::footer"></footer>

    <div th:replace="fragments/global::external_scripts"></div>

</body>

</html>