<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/global::header"></div>
    <title>Registration | Diary Demo</title>
</head>

<body class="d-flex flex-column">

    <div class="d-flex justify-content-center my-auto">
        <div class="card p-3">
            <h3>Register a new account</h3>

            <form class="my-3" th:object="${requestBody}" th:action="@{/register}" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control"
                        th:classappend="${errorMessages != null && errorMessages.containsKey('username') ? 'is-invalid' : ''}"
                        th:field="*{username}" placeholder="Username" th:maxlength="${usernameMaxLength}" required>
                    <ul th:if="${errorMessages?.containsKey('username')}" class="invalid-feedback">
                        <li th:each="message : ${errorMessages.username}" th:text="${message}"></li>
                    </ul>
                </div>

                <div class="mb-3">
                    <input type="email" class="form-control"
                        th:classappend="${errorMessages != null && errorMessages.containsKey('email') ? 'is-invalid' : ''}"
                        th:field="*{email}" placeholder="Email" th:maxlength="${emailMaxLength}" required>
                    <ul th:if="${errorMessages?.containsKey('email')}" class="invalid-feedback">
                        <li th:each="message : ${errorMessages.email}" th:text="${message}"></li>
                    </ul>
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control"
                        th:classappend="${errorMessages != null && errorMessages.containsKey('password') ? 'is-invalid' : ''}"
                        th:field="*{password}" placeholder="Password" th:maxlength="${passwordMaxLength}" required>
                    <ul th:if="${errorMessages?.containsKey('password')}" class="invalid-feedback">
                        <li th:each="message : ${errorMessages.password}" th:text="${message}"></li>
                    </ul>
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control"
                        th:classappend="${errorMessages != null && errorMessages.containsKey('passwordConfirm') ? 'is-invalid' : ''}"
                        th:field="*{passwordConfirm}" placeholder="Confirm password" th:maxlength="${passwordMaxLength}"
                        required>
                    <ul th:if="${errorMessages?.containsKey('passwordConfirm')}" class="invalid-feedback">
                        <li th:each="message : ${errorMessages.passwordConfirm}" th:text="${message}"></li>
                    </ul>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>

            <a th:href="@{/login}">Already have a account</a>
        </div>
    </div>

    <footer th:include="fragments/global::footer"></footer>

    <div th:replace="fragments/global::external_scripts"></div>

</body>

</html>