<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/global::header"></div>
    <title>Registration</title>
</head>
<body>

    <h3>Register a new account</h3>
    <form th:object="${request}" th:action="@{/register}" method="POST">
        <div th:if="${errors}" class="alert alert-danger">
            <div th:each="error : ${errors}">
                <span th:text="${error}"></span>
            </div>
        </div>

        <div>
            <input type="text" th:field="*{username}" placeholder="Username" required>
        </div>
        <div>
            <input type="email" th:field="*{email}" placeholder="Email" required>
        </div>
        <div>
            <input type="password" th:field="*{password}" placeholder="Password" required>
        </div>
        <div>
            <input type="password" th:field="*{passwordConfirm}" placeholder="Confirm password" required>
        </div>
        <div>
            <button type="submit" class="btn">Register</button>
        </div>
    </form>

    <a th:href="@{/login}">Already have a account</a>

    <div th:replace="fragments/global::scripts"></div>

</body>
</html>
