<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
    <h3>Register a new account</h3>
    <form th:action="@{/register}" th:object="${request}" method="post">
        <div>
            <span th:if="${errorMsg}" th:text="${errorMsg}"></span>
        </div>

        <div>
            <input type="text" th:field="*{username}" placeholder="Username" required>
        </div>

        <div>
            <input type="email" th:field="*{email}" placeholder="Email" required>
        </div>

        <div>
            <input type="password" th:field="*{password}" placeholder="Password" required>
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>
    <a th:href="@{/login}">Already have a account</a>
</body>
</html>
